// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furlw2, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap; // initially display system fonts
    src: local($fname),
      url($furlw2) format('woff2'),
      url($furl) format('woff');
  }
}

// PT Sans font
@include font('PT-Sans', normal, 400, '../../fonts/PT_Sans/PTSans-Regular.woff2', '../../fonts/PT_Sans/PTSans-Regular.woff');
@include font('PT-Sans', normal, 700, '../../fonts/PT_Sans/PTSans-Bold.woff2', '../../fonts/PT_Sans/PTSans-Bold.woff');
// Open Sans Condensed Light font
@include font('Open-Sans', normal, 300, '../../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff2', '../../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff');