// USER VARIABLES SECTION

// simple colors
$primary-light: #FFFFFF;
$primary-dark: #000000;
$primary-accent: #767676;
$primary-bgcolor: #ffffff;
$section-grey: #dcdcdc;
$section-dark-grey: #777777;

//slider colors
$slider-bg: #f9f9f9;
$slick-arrow-bg: #d1d1d1;

// additional font colors
$font-accent-dark: #444444;
$title-color: #777777;
$font-light: #FFFFFF;
$font-dark: #000000;
$link-hover-dark: #010101;

// fonts
$systemfont: -apple-system,
BlinkMacSystemFont,
Arial,
sans-serif; // System Font Family
$text-font: 'PT-Sans',
sans-serif; // PT Sans Font Family
$custom-font: 'Open-Sans',
sans-serif; // Open Sans Font Family
$fontsize: 14; // Html, Body Primary Font Size

//UTILITIES
$transition: 0.35s;