.breadcrumbs {
  padding: rem(8) 0;
  margin-bottom: rem(10);
  display: flex;
  flex-wrap: nowrap;
}

.brd__item {
  display: block;
  padding: 0 rem(8);
  position: relative;
  text-decoration: underline;

  &:last-child {
    text-decoration: none;
  }

  &::after {
    content: "/";
    position: absolute;
    bottom: 0;
    right: -2px;
  }

  &:last-child::after {
    display: none;
  }
}

.brd__link {
  font-size: 14px;
  line-height: 18px;
}