.catalogue {
  display: flex;
  flex-basis: 980px;
}

.sidebar {
  max-width: rem(205);
  margin-right: rem(12);

  // .sidebar__menu

  .sidebar__menu {
    text-align: left;
  }

  // .menu__item

  .menu__item {
    padding-left: rem(8);
    text-align: left;
  }

  // .menu__item.dropdown .dropdown__menu

  .menu__item.dropdown .dropdown__menu {
    height: 0;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
  }

  // .menu__item.dropdown:hover .dropdown__menu

  .menu__item.dropdown:hover .dropdown__menu {
    height: 100%;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  // .menu__link

  .menu__link {
    font-size: rem(18);
    line-height: 30px;
    color: #767676;
  }

  // .menu__link:hover

  .menu__link:hover {
    text-decoration: underline;
  }

  .dropdown__menu {
    padding-left: rem(20);

    .drop_item {
      list-style-type: disc;
      text-decoration: none;
    }

    // .drop__link

    .drop__link {
      font-size: rem(14);
      line-height: 22px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #010101;
      }
    }
  }

  .price-list {
    position: relative;
    margin-top: rem(105);
    text-align: center;
  }

  .price-list__title {
    display: block;
    font-size: rem(30);
    line-height: 25px;
    font-weight: 700;
    color: #444444;
  }
}

.products {
  max-width: rem(795);
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-30);
}

.product__card {
  position: relative;
  width: rem(250);
  padding: rem(20);
  margin: 0 rem(7);
  margin-bottom: rem(20);
  background-color: #dcdcdc;
  transition: $transition linear;

  &:hover {
    box-shadow: 0 0 10px rgba($color: #707070, $alpha: .3)
  }
}

.product__img {
  max-width: rem(210);
  max-height: rem(210);
}

.product__title {
  display: block;
  max-width: rem(210);
  margin-top: rem(20);
  font-size: rem(18);
  line-height: 18px;
}

// a.product__title.stretched-link
a.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-info {
  margin-top: rem(52);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__price {
  font-size: rem(28);
  line-height: 18px;
}

.product__btn {
  padding: 0 rem(15);
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}