.modal {

  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(#000000, .5);
    z-index: 3;
  }
}

.modal__form {
  position: relative;
  width: 100%;
  max-width: rem(465);
  padding: rem(35) rem(65);
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.modal__title {
  margin-bottom: rem(30);
  font-size: rem(24);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #535353;
}

.form-control {
  margin-bottom: rem(15);

  label {
    margin-bottom: rem(7);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #535353;
  }

  input {
    width: 100%;
    height: rem(40);
    padding: rem(8);
    border: 1px solid #c3c3c3;
  }

  textarea {
    width: 100%;
    padding: rem(8);
    border: 1px solid #c3c3c3;
    resize: vertical;
  }
}

.form__btn {
  padding: rem(10);
  font-size: rem(18);
  text-transform: uppercase;
  color: #fff;
  background-color: #777777;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken(#777777, 5);
  }

  &:active {
    box-shadow: inset 0 0 8px rgba(22, 22, 22, 0.5);
  }
}

.modal__close {
  position: fixed;
  top: -27px;
  right: -27px;
  width: rem(27);
  height: rem(27);
  background-color: #777777;
  font-size: 20px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

input.error,
textarea.error {
  border-color: red;
  box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);

  &::placeholder {
    color: red;
  }
}