.slider {
  margin: auto;
  background-color: $slider-bg;

  @include _768 {
    display: none;
  }
}

.slider__item>img {
  margin: auto;
  object-fit: cover;
}

.slick-arrow {
  width: rem(34);
  height: rem(61);
  display: inline-block;
  text-align: center;
  background-color: $slick-arrow-bg;
  z-index: 1;

  &:hover,
  &:focus {
    background-color: $slick-arrow-bg;
  }

  &::before {
    display: none;
  }
}

.slick-prev {
  transform: translateX(620%);
}

.slick-next {
  transform: translateX(-620%);
}

.btn-icon {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;

}

.btn-left {
  left: 8px;
  border-top: 4px solid $primary-dark;
  border-left: 4px solid $primary-dark;
  transform: rotate(-45deg);
}

.btn-right {
  right: 8px;
  border-top: 4px solid $primary-dark;
  border-right: 4px solid $primary-dark;
  transform: rotate(45deg);
}